<div class="euro_protocol_form" *ngIf="this.isActivFirst">
    <div class="euro_header">
        <h2>Terms of registration</h2>
    </div>
    <div class="euro_content">
        <div>
            <p class="text">If the amount of damage exceeds UAH 50,000, call the police.</p>
        </div>
        <nz-checkbox-group [(ngModel)]="optionGroup" (ngModelChange)="allChecked()"></nz-checkbox-group>
    </div>
    <div class="euro_progres">
        <nz-progress [nzPercent]="11" [nzShowInfo]="false" nzStatus="active"></nz-progress>
    </div>
    <div class="euro_footer">
          <button nz-button nzType="primary"  [nzSize]="size" [disabled] = "disabled" (click)='clickToSecond()'>
            Forward
            <i nz-icon nzType="right"></i>
          </button>
    </div>
</div>

<div class="euro_protocol_form" *ngIf="this.isActivSecond">
    <div class="euro_header">
        <h2>Checking the availability of policies</h2>
    </div>
    <div class="euro_header">
    </div>
    <div class="euro_content">
        <div>
            <form nz-form>
                <h4>1st participant of the accident</h4>
                <nz-form-item>
                    <nz-form-label [nzSpan]="5">Insuarance number</nz-form-label>
                    <nz-form-control  [nzSpan]="6">
                      <input nz-input placeholder="Input the code" name="firstInsuarance"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="5">Car plate</nz-form-label>
                    <nz-form-control  [nzSpan]="6">
                      <input nz-input placeholder="Input the number" name="firstCarPlate"/>
                    </nz-form-control>
                </nz-form-item>
                  <h4>2nd participant of the accident</h4>
                <nz-form-item>
                    <br/>
                    <nz-form-label [nzSpan]="5">Insuarance number</nz-form-label>
                    <nz-form-control  [nzSpan]="6">
                      <input nz-input placeholder="Input the code" name="secondInsuarance"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="5">Car plate</nz-form-label>
                    <nz-form-control  [nzSpan]="6">
                      <input nz-input placeholder="Input the number" name="secondCarPlate"/>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
    <div class="euro_progres">
        <nz-progress [nzPercent]="22" [nzShowInfo]="false" nzStatus="active"></nz-progress>
    </div>
    <div class="euro_footer_next">
        <button nz-button nzType="primary" [nzSize]="size" (click)='stepBackToFirst()'>
            <i nz-icon nzType="left"></i>
            Backward
          </button>
          <button nz-button nzType="primary" [nzSize]="size" (click)='clickToThird()'>
            Forward
            <i nz-icon nzType="right"></i>
          </button>
    </div>
</div>

<div class="euro_protocol_form" *ngIf="this.isActivThird">
    <div class="euro_header">
        <h2>Driver's license, technical passport</h2>
    </div>
    <div class="euro_content">
        <div>
            <form nz-form>
                <h4>1st participant of the accident</h4>
                <div class="information">
                    <div class="information_col">  
                        <h6>Driver license</h6>                      
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Last name of the driver</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                              <input nz-input placeholder="Please input your last name" name="lastName"/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">First name of the driver</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                              <input nz-input placeholder="Please input your last name" name="firstName"/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Date of birth</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-date-picker [nzFormat]="dateFormat"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">License serial number</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                              <input nz-input placeholder="Please input serial number" name="license"/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Issued authority</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                              <input nz-input placeholder="Please input your issued authority" name="issuedBy "/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Expiration date</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                                <nz-date-picker [nzFormat]="dateFormat"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Opened categories</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                                <nz-checkbox-wrapper>
                                    <div nz-row>
                                      <div nz-col nzSpan="8"><label nz-checkbox nzValue="A">A</label></div>
                                      <div nz-col nzSpan="8"><label nz-checkbox nzValue="B">B</label></div>
                                      <div nz-col nzSpan="8"><label nz-checkbox nzValue="C">C</label></div>
                                      <div nz-col nzSpan="8"><label nz-checkbox nzValue="D">D</label></div>
                                      <div nz-col nzSpan="8"><label nz-checkbox nzValue="E">E</label></div>
                                    </div>
                                  </nz-checkbox-wrapper>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="information_col">      
                        <h6>Technical passport</h6>                  
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Made by</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                              <input nz-input placeholder="Input made by" name="madeBy"/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Model</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                              <input nz-input placeholder="Input model" name="model"/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Car categoty</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                              <input nz-input placeholder="Input car categoty" name="carCategory"/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Vin code</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                              <input nz-input placeholder="Input vin code" name="vinCode"/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Car plate</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                              <input nz-input placeholder="Input car plate" name="carPlate"/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Color</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                              <input nz-input placeholder="Input color" name="color"/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">Year of production</nz-form-label>
                            <nz-form-control  [nzSpan]="24">
                                <nz-date-picker nzMode="year" name="yearOfProduction "></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>                  
            </form>
        </div>
    </div>
    <div class="euro_progres">
        <nz-progress [nzPercent]="33" [nzShowInfo]="false" nzStatus="active"></nz-progress>
    </div>
    <div class="euro_footer_next">
        <button nz-button nzType="primary" [nzSize]="size" (click)='stepBackToSecond()'>
            <i nz-icon nzType="left"></i>
            Backward
          </button>
          <button nz-button nzType="primary" [nzSize]="size" (click)='clickToFourth()'>
            Forward
            <i nz-icon nzType="right"></i>
          </button>
    </div>
</div>

<div class="euro_protocol_form" *ngIf="this.isActivFourth">
    <div class="euro_header">
        <h2>The address of the accident</h2>
    </div>
    <div class="euro_content">
        <div>
            <form nz-form>
                <nz-form-item>
                    <nz-form-control  [nzSpan]="24">
                        <label nz-checkbox >Accident in the city</label>
                    </nz-form-control>
                </nz-form-item>  
                <nz-form-item>
                    <nz-form-label [nzSpan]="24">City</nz-form-label>
                    <nz-form-control  [nzSpan]="10">
                      <input nz-input placeholder="Please input a city name" name="city"/>
                    </nz-form-control>
                </nz-form-item> 
                <nz-form-item>
                    <nz-form-label [nzSpan]="24">District</nz-form-label>
                    <nz-form-control  [nzSpan]="10">
                      <input nz-input placeholder="Please input a district name" name="district"/>
                    </nz-form-control>
                </nz-form-item> 
                <nz-form-item>
                    <nz-form-label [nzSpan]="24">Street</nz-form-label>
                    <nz-form-control  [nzSpan]="10">
                      <input nz-input placeholder="Please input a street name" name="street"/>
                    </nz-form-control>
                </nz-form-item> 
                <nz-form-item>
                    <nz-form-control  [nzSpan]="24">
                        <label nz-checkbox >Accident at the intersection</label>
                    </nz-form-control>
                </nz-form-item> 
                <nz-form-item>
                    <nz-form-label [nzSpan]="24">Cross Street</nz-form-label>
                    <nz-form-control  [nzSpan]="10">
                      <input nz-input placeholder="Please input a cross street" name="crossStreet"/>
                    </nz-form-control>
                </nz-form-item>  
                <h6>If the accident occurred outside the city, enter the coordinates of the accident</h6>
                <nz-form-item>
                    <nz-form-label [nzSpan]="24">Latitude</nz-form-label>
                    <nz-form-control  [nzSpan]="10">
                      <input nz-input placeholder="Please input a coordinates of latitude" name="coordinatesOfLatitude"/>
                    </nz-form-control>
                </nz-form-item> 
                <nz-form-item>
                    <nz-form-label [nzSpan]="24">Longitude</nz-form-label>
                    <nz-form-control  [nzSpan]="10">
                      <input nz-input placeholder="Please input a coordinates of longitude" name="coordinatesOfLongitude"/>
                    </nz-form-control>
                </nz-form-item>                               
            </form>
        </div>
    </div>
    <div class="euro_progres">
        <nz-progress [nzPercent]="44" [nzShowInfo]="false" nzStatus="active"></nz-progress>
    </div>
    <div class="euro_footer_next">
        <button nz-button nzType="primary" [nzSize]="size" (click)='stepBackToThird()'>
            <i nz-icon nzType="left"></i>
            Backward
          </button>
          <button nz-button nzType="primary" [nzSize]="size" (click)='clickToFifth()'>
            Forward
            <i nz-icon nzType="right"></i>
          </button>
    </div>
</div>

<div class="euro_protocol_form" *ngIf="this.isActivFifth">
    <div class="euro_header">
        <h2>Circumstances of the accident</h2>
    </div>
    <div>
        <h5>Choose the circumstances of the accident according 
            to the actions of each participant</h5>            
        <br>
        <div>
            <form nz-form *ngFor="let item of this.circumstancesList">
                <div>
                    <nz-form-item>
                        <div class="circumstance">
                            <div>
                                <input type="checkbox" (change)="onChange(item, $event)"/> 
                            </div>
                            <div>
                                <p>{{item.circumstanceName}}</p>
                            </div>
                        </div>
                    </nz-form-item>
                </div>
            </form>
        </div>
    </div>
    <div class="euro_progres">
        <nz-progress [nzPercent]="55" [nzShowInfo]="false" nzStatus="active"></nz-progress>
    </div>
    <div class="euro_footer_next">
        <button nz-button nzType="primary" [nzSize]="size" (click)='stepBackToFourth()'>
            <i nz-icon nzType="left"></i>
            Backward
          </button>
          <button nz-button nzType="primary" [nzSize]="size" (click)='clickToSixth()'>
            Forward
            <i nz-icon nzType="right"></i>
          </button>
    </div>
</div>

<div class="euro_protocol_form" *ngIf="this.isActiveSixth">
    <div class="euro_header">
        <h2>Evidence</h2>
    </div>
    <div class="euro_content">
        <div>
            <h5>Photos, videos, and photo proofs will be added to this page later,
                as there is no video storage service yet.</h5>
        </div>       
    </div>
    <div class="euro_progres">
        <nz-progress [nzPercent]="66" [nzShowInfo]="false" nzStatus="active"></nz-progress>
    </div>
    <div class="euro_footer_next">
        <button nz-button nzType="primary" [nzSize]="size" (click)='stepBackToFifth()'>
            <i nz-icon nzType="left"></i>
            Backward
          </button>
          <button nz-button nzType="primary" [nzSize]="size" (click)='clickToSeventh()'>
            Forward
            <i nz-icon nzType="right"></i>
          </button>
    </div>
</div>

<div class="euro_protocol_form" *ngIf="this.isActiveSeventh">
    <div class="euro_header">
        <h2>Witnesses</h2>
    </div>
    <div class="euro_content">
        <div>    
            <nz-form-item>
                <nz-form-control  [nzSpan]="8">       
                    <label nz-checkbox>There are no witnesses</label> 
                </nz-form-control>
            </nz-form-item>           
            <nz-form-item>
                <nz-form-label [nzSpan]="24">Last name of the witness</nz-form-label>
                <nz-form-control  [nzSpan]="8">
                  <input nz-input placeholder="Please input last name witness" name="lastName"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="24">First name of the witness</nz-form-label>
                <nz-form-control  [nzSpan]="8">
                  <input nz-input placeholder="Please input first name witness" name="firstName"/>
                </nz-form-control>
            </nz-form-item>   
            <nz-form-item>
                <nz-form-label [nzSpan]="24">Mobile</nz-form-label>
                <nz-form-control [nzSpan]="8">
                  <input nz-input placeholder="Please input mobile!"/>
                </nz-form-control>
            </nz-form-item> 
            <nz-form-item>
                <nz-form-label [nzSpan]="24">Address</nz-form-label>
                <nz-form-control [nzSpan]="8">
                  <input nz-input placeholder="Please write witness address here!"/>
                </nz-form-control>
            </nz-form-item>      
        </div>
    </div>
    <div class="euro_progres">
        <nz-progress [nzPercent]="77" [nzShowInfo]="false" nzStatus="active"></nz-progress>
    </div>
    <div class="euro_footer_next">
        <button nz-button nzType="primary" [nzSize]="size" (click)='stepBackToSixth()'>
            <i nz-icon nzType="left"></i>
            Backward
          </button>
          <button nz-button nzType="primary" [nzSize]="size" (click)='clickToEighth()'>
            Forward
            <i nz-icon nzType="right"></i>
          </button>
    </div>
</div>

<div class="euro_protocol_form" *ngIf="this.isActiveEighth">
    <div class="euro_header">
        <h2>Confirm the European protocol</h2>
    </div>
    <div class="euro_content">
        <div>  
            <h4>1st participant</h4>                     
            <nz-form-item>
                <nz-form-label [nzSpan]="24">Email</nz-form-label>
                <nz-form-control  [nzSpan]="8">
                  <input nz-input placeholder="Please input email!" name="firstEmail"/>
                </nz-form-control>
            </nz-form-item>
            <h4>2nd participant</h4>
            <nz-form-item>
                <nz-form-label [nzSpan]="24">Email</nz-form-label>
                <nz-form-control  [nzSpan]="8">
                  <input nz-input placeholder="Please input email!" name="secondEmail"/>
                </nz-form-control>
            </nz-form-item>      
        </div>
    </div>
    <div class="euro_progres">
        <nz-progress [nzPercent]="88" [nzShowInfo]="false" nzStatus="active"></nz-progress>
    </div>
    <div class="euro_footer_next">
        <button nz-button nzType="primary" [nzSize]="size" (click)='stepBackToSeventh()'>
            <i nz-icon nzType="left"></i>
            Backward
          </button>
          <button nz-button nzType="primary" [nzSize]="size" (click)='clickToNinth()'>
            Forward
            <i nz-icon nzType="right"></i>
          </button>
    </div>
</div>

<div class="euro_protocol_form" *ngIf="this.isActiveNinth">
    <div class="euro_header">
        <h2>The European protocol is issued</h2>
    </div>
    <div class="euro_content">
        <div>  
            <h6>Thank you!</h6>  
            <br>
            <h6>The protocol was drawn up and sent to the insurance company 
                and to the Motor (Transport) Insurance Bureau of Ukraine.</h6> 
            <br>
            <h6>Your insurance companies are parties to the Direct Loss Settlement Agreement.</h6> 
            <br> 
        </div>
    </div>
    <div class="euro_progres">
        <nz-progress [nzPercent]="100" [nzShowInfo]="false"></nz-progress>
    </div>
    <div class="euro_footer_next">
        <button nz-button nzType="primary" [nzSize]="size" (click)='stepBackToEighth()'>
            <i nz-icon nzType="left"></i>
            Backward
          </button>
          <button nz-button nzType="primary" [nzSize]="size" (click)='onSubmit()'>
            Forward
            <i nz-icon nzType="right"></i>
          </button>
    </div>
</div>