<nz-modal nzWidth="50%" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    <span>Change Password</span>
  </ng-template>
  <ng-template #modalContent>
    <div>
      <form novalidate autocomplete="off" [formGroup]="DataForm" (ngSubmit)="onSubmit(DataForm)">
        <div>
            <label for="oldPassword">Password:</label>
            <nz-form-item>
              <nz-form-control>
                <input nz-input id="oldPassword" type="password" placeholder="Your Password" formControlName="oldPassword" required
                  nzSize="large">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div>
            <label for="Password">New Password:</label>
            <nz-form-item>
              <nz-form-control>
                <input nz-input type="password" id="Password" placeholder="Your new password" formControlName="Password" required
                  nzSize="large">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-row>
            <button nz-button [nzSize]="'large'" nzShape="round" [nzType]="'primary'" type="submit">SUBMIT</button>
          </div>
      </form>
    </div>
  </ng-template>
  <ng-template #modalFooter></ng-template>
</nz-modal>