<div class="euro_protocol_form">
   <div class="euro_header">
     <h2>Checking the availability of insurance</h2>
   </div>
   <div class="euro_content">
     <div>
       <form nz-form [formGroup]="carPlateForm">
         <h4>1st participant of the accident</h4>
         <nz-form-item>
           <nz-form-label [nzSpan]="8">Car plate</nz-form-label>
           <nz-form-control [nzSpan]="6">
             <input nz-input placeholder="Input the number" name="carPlate" formControlName="carPlate" required />
           </nz-form-control>
         </nz-form-item>
       </form>
     </div>
   </div>
   <div class="euro_progres">
     <nz-progress [nzPercent]="22" [nzShowInfo]="false" nzStatus="active" ></nz-progress>
   </div>
   <div class="euro_footer_next">
     <button nz-button nzType="primary" [nzSize]="'large'" (click)="changePage(0)" >
       <i nz-icon nzType="left"></i>
       Backward
     </button>
     <button *ngIf="!carPlateForm.invalid" nz-button nzType="primary" [nzSize]="'large'" (click)="changePage(2)">
       Forward
       <i nz-icon nzType="right"></i>
     </button>
   </div>
 </div>