{
    "root": true,
    "ignorePatterns": [
        "projects/**/*"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb/base"
    ],
    "parserOptions": {
        "sourceType": "module",
        "parser": "babel-eslint"
    },
    "rules": {
        "semi": "off",
        "max-len": [
            "error",
            150,
            {
                "ignoreUrls": true
            }
        ]
    }
}