<nz-layout class="layout">
    <nz-header>
        <div class="logo">
            <a routerLink="/home"><img class="logoimg" src="https://img2.pngio.com/white-car-icon-png-picture-1847622-white-car-icon-png-white-car-icon-png-256_256.png" alt="Easy-CA" /></a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="mychange">
            <li nz-menu-item><a routerLink="/home">Home</a></li>
            <li nz-menu-item> <a *ngIf="!this.accountService.isLoggedIn" routerLink="/signin">Sign In</a></li>
            <li nz-menu-item> <a *ngIf="!this.accountService.isLoggedIn" routerLink="/signup">Sign Up</a></li>
            <li nz-menu-item> <a *ngIf="this.accountService.isLoggedIn" (click)="logout()">Logout</a></li>
            <li nz-menu-item> <a *ngIf="this.accountService.isLoggedIn" routerLink="/personal">Personal cabinet</a></li>
            <li nz-menu-item> <a *ngIf="this.accountService.userRole ==='admin'">Admin Panel</a></li>

        </ul>
    </nz-header>
    <nz-content>
        <br><br>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer>Easy-CA ©2021 Implement By RV069 .Net</nz-footer>
</nz-layout>