<app-search></app-search>
<div class="homeInfo">
    <h3>Easy-CA service was created for a quickly registration euro protocols for all people.</h3>
    <h3>For easy registration car accident protocols for inspector.</h3>
    <h3>Check your car for an accident.</h3>
    <div class="statistic">
      <nz-statistic [nzValue]="(1128 | number)!" [nzTitle]="'Successfully registered Euro Protocols today'" [nzPrefix]="prefixTpl"></nz-statistic>
      <ng-template #prefixTpl><i nz-icon nzType="check"></i></ng-template>
    </div>
  </div>
  