nz-content {
    padding: 0 50px;
    margin-top: 64px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.test {
    display: flex;
    width: 30%;
    justify-content: center;
    margin: auto;
}

.nz-input-group {
    padding: 0;
    color: rgba(0, 0, 0, .85);
    display: table;
    width: 600px;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
}
