<div class="test">
  <nz-input-group [formGroup]="searchForm" nzSearch nzSize="large" [nzAddOnAfter]="suffixButton"
    class="ant-input-group">
    <input type="text" formControlName="search" nz-input placeholder="Plate / VIN" />
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" (click)="search()" nzSearch>Search</button>
  </ng-template>
</div>
<div row>
  <div nz-col nzspan="16" *ngIf="transport">
    <div>
      <h2>Transport</h2>
      <div>
        <nz-table nzTemplateMode [nzFrontPagination]="false" [nzShowPagination]="false">
          <tbody>
            <tr>
              <td class="propertyName">Produced by: </td>
              <td class="mainName">{{transport.producedBy}}</td>
              <td><i nz-icon nzType="align-right" nzTheme="outline"></i></td>
            </tr>
            <tr>
              <td class="propertyName">model: </td>
              <td class="mainName">{{transport.model}}</td>
              <td><i nz-icon nzType="align-right" nzTheme="outline"></i> </td>
            </tr>
            <tr>
              <td class="propertyName">Category: </td>
              <td class="mainName">{{transport.categoryName}}</td>
              <td><i nz-icon nzType="align-right" nzTheme="outline"></i></td>
            </tr>
            <tr>
              <td class="propertyName">VIN code: </td>
              <td class="mainName">{{transport.vinCode}}</td>
              <td><i nz-icon nzType="align-right" nzTheme="outline"></i></td>
            </tr>
            <tr>
              <td class="propertyName">Car Plate:</td>
              <td class="mainName">{{transport.carPlate}}</td>
              <td><i nz-icon nzType="align-right" nzTheme="outline"></i> </td>
            </tr>
            <tr>
              <td class="propertyName">Color:</td>
              <td class="mainName">
                <a> {{ transport.color}}</a>
                <nz-divider nzType="vertical"></nz-divider>
              </td>
              <td><i nz-icon nzType="align-right" nzTheme="outline"></i> </td>
            </tr>
            <tr>
              <td class="propertyName">Year Of Production: </td>
              <td class="mainName">{{transport.yearOfProduction}}</td>
              <td><i nz-icon nzType="align-right" nzTheme="outline"></i> </td>
            </tr>
            <tr>
              <td class="propertyName">Insuarance company: </td>
              <td class="mainName">{{transport.insuaranceNumber.companyName}}</td>
              <td><i nz-icon nzType="align-right" nzTheme="outline"></i> </td>
            </tr>
            <tr>
              <td class="propertyName">Serial number: </td>
              <td class="mainName">{{transport.insuaranceNumber.serialNumber}}</td>
              <td><i nz-icon nzType="align-right" nzTheme="outline"></i> </td>
            </tr>
          </tbody>
        </nz-table>
        <br>
      </div>
    </div>
  </div>
  <div nz-col *ngIf="!transport">
    <h1 class="test">
      Transport not found
    </h1>
  </div>
</div>