<!-- <div class="LandingV4Page_cta__30e-G">
  <form id="vinForm" class="SingleInputForm_root__1tg-6 BasicVinForm_root__3E3tJ BasicVinForm_inverted__11tfk">
    <div class="ExplanationTrigger_root__2zUG2"><button type="button"
        class="ExplanationTrigger_trigger__c02Au">?</button></div><label
      class="Field_root__3MKm5 SingleInputForm_label__efREd SingleInputForm_field__13C8Z"><input type="text"
        class="Input_root__11egN SingleInputForm_input__UgXU- SingleInputForm_field__13C8Z SingleInputForm_inputPrefixed__HxNAZ BasicVinForm_input__Kzs61 LandingV4Page_input__1WfVD"
        name="vin" style="text-transform:uppercase" data-hook="VinForm-input" data-testid="VinForm-input"><span
        class="Field_text__2a4zG SingleInputForm_labelPrefixed__95aVN">Номерний знак / VIN</span></label>
    <div class="SingleInputForm_buttonWrapper__1SuAB"><button
        class="Button_root__GQFRI Button_accent__1zu2_ Button_uppercase__3ThWv SingleInputForm_button__349_5"
        type="submit" data-hook="VinForm-submit" data-testid="VinForm-submit"><span
          class="asIcon_root__rbHLE SingleInputForm_buttonIcon__1NRmH"><svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 48 48">
            <path
              d="M20 40A20 20 0 015.86 5.86a20 20 0 0128.3 28.3A19.93 19.93 0 0120 40zm0-36A16 16 0 008.69 31.33 16 16 0 1020 4z">
            </path>
            <path d="M46 48a2 2 0 01-1.41-.59L31.33 34.16a2 2 0 012.83-2.83l13.25 13.26A2 2 0 0146 48z"></path>
          </svg></span><span class="Button_label__1gnx4 SingleInputForm_buttonLabel__1gnjP">Перевірити</span></button>
    </div>
  </form>
</div> -->

<div class="test">
<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton" class="ant-input-group" >
  <input type="text" nz-input placeholder="Plate / VIN" />
</nz-input-group>
<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
</ng-template>
<div>