<div nz-col nzspan="16" class="basicInfo nzDiv">
  <div class="inner">
    <h2>Address</h2>
    <div>
      <nz-table nzTemplateMode [nzFrontPagination]="false" [nzShowPagination]="false">
        <tbody>
          <tr>
            <td class="propertyName">Country: </td>
            <td class="mainName">{{address.country}}</td>
            <td><i nz-icon nzType="align-right" nzTheme="outline"></i></td>
          </tr>
          <tr>
            <td class="propertyName">Region: </td>
            <td class="mainName">{{address.region}}</td>
            <td><i nz-icon nzType="align-right" nzTheme="outline"></i> </td>
          </tr>
          <tr>
            <td class="propertyName">City: </td>
            <td class="mainName">{{address.city}}</td>
            <td><i nz-icon nzType="align-right" nzTheme="outline"></i></td>
          </tr>
          <tr>
            <td class="propertyName">District: </td>
            <td class="mainName">{{address.district}}</td>
            <td><i nz-icon nzType="align-right" nzTheme="outline"></i></td>
          </tr>
          <tr>
            <td class="propertyName">Street: </td>
            <td class="mainName">{{address.street}}</td>
            <td><i nz-icon nzType="align-right" nzTheme="outline"></i> </td>
          </tr>
          <tr>
            <td class="propertyName">Building: </td>
            <td class="mainName">{{address.building}}</td>
            <td><i nz-icon nzType="align-right" nzTheme="outline"></i> </td>
          </tr>
          <tr>
            <td class="propertyName">Appartament: </td>
            <td class="mainName">{{address.appartament}}</td>
            <td><i nz-icon nzType="align-right" nzTheme="outline"></i> </td>
          </tr>
          <tr>
            <td class="propertyName">PostalCode: </td>
            <td class="mainName">{{address.postalCode}}</td>
            <td><i nz-icon nzType="align-right" nzTheme="outline"></i> </td>
          </tr>
        </tbody>
      </nz-table>
      <br>
    </div>
  </div>
</div>