<div class="euro_protocol_form">
   <div class="euro_header">
     <h2>The address of the accident</h2>
   </div>
   <div class="euro_content">
     <div>
       <form nz-form [formGroup]="addressOfAccident">
         <nz-form-item>
           <nz-form-label [nzSpan]="24">City</nz-form-label>
           <nz-form-control [nzSpan]="10">
             <input nz-input placeholder="Please input a city name" formControlName="city" required name="city" />
           </nz-form-control>
         </nz-form-item>
         <nz-form-item>
           <nz-form-label [nzSpan]="24">District</nz-form-label>
           <nz-form-control [nzSpan]="10">
             <input nz-input placeholder="Please input a district name" formControlName="district" required name="district" />
           </nz-form-control>
         </nz-form-item>
         <nz-form-item>
           <nz-form-label [nzSpan]="24">Street</nz-form-label>
           <nz-form-control [nzSpan]="10">
             <input nz-input placeholder="Please input a street name" formControlName="street" required name="street" />
           </nz-form-control>
         </nz-form-item>
         <nz-form-item>
           <nz-form-label [nzSpan]="24">Cross Street</nz-form-label>
           <nz-form-control [nzSpan]="10">
             <input nz-input placeholder="Please input a cross street" formControlName="CrossStreet" required name="crossStreet" />
           </nz-form-control>
         </nz-form-item>
         <h6>
           If the accident occurred outside the city, enter the coordinates of
           the accident
         </h6>
         <nz-form-item>
           <nz-form-label [nzSpan]="24">Latitude</nz-form-label>
           <nz-form-control [nzSpan]="10">
             <input nz-input placeholder="Please input a coordinates of latitude" formControlName="CoordinatesOfLatitude" required name="coordinatesOfLatitude" />
           </nz-form-control>
         </nz-form-item>
         <nz-form-item>
           <nz-form-label [nzSpan]="24">Longitude</nz-form-label>
           <nz-form-control [nzSpan]="10">
             <input nz-input placeholder="Please input a coordinates of longitude" formControlName="CoordinatesOfLongitude" required name="coordinatesOfLongitude" />
           </nz-form-control>
         </nz-form-item>
         <nz-form-item>
           <nz-form-label [nzSpan]="24">Damage car</nz-form-label>
           <nz-form-control [nzSpan]="10">
             <input nz-input placeholder="Please input a damage of your auto" formControlName="damage" required name="damage" />
           </nz-form-control>
         </nz-form-item>
       </form>
     </div>
   </div>
   <div class="euro_progres">
     <nz-progress [nzPercent]="44" [nzShowInfo]="false" nzStatus="active" ></nz-progress>
   </div>
   <div class="euro_footer_next">
     <button nz-button nzType="primary" [nzSize]="size" (click)="changePage(2)" >
       <i nz-icon nzType="left"></i> Backward
     </button>
     <button nz-button nzType="primary" [nzSize]="size" (click)="changePage(4)">
       Forward
       <i nz-icon nzType="right"></i>
     </button>
   </div>
 </div>