<form novalidate autocomplete="off" [formGroup]="EuroProtocolDataForm"
  (ngSubmit)="onOkButtonClick(EuroProtocolDataForm)">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col [nzSpan]="12">
      <div>
        <div>
          <label class="title" for="serialNumber">Protocol Serial Number:</label>
          <nz-form-item>
            <nz-form-control>
              <input nz-input id="serialNumber" placeholder="Number of protocol" [ngModel]="euroProtocol.serialNumber"
                formControlName="serialNumber" readonly />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div>
          <label class="title" for="isClosed">Protocol Status:</label>
          <nz-form-item>
            <nz-form-control>
              <input nz-input id="isClosed" placeholder="Status of protocol"
                [ngModel]="euroProtocol.isClosed? 'Closed' : 'Waiting for confirmation'" formControlName="isClosed"
                readonly />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div formGroupName="address">
          <nz-divider></nz-divider>
          <h2 class="title">Address of accident:</h2>
          <div *ngIf="euroProtocol.address.isInCity; then thenIsInCityBlock else elseIsInCityBlock"></div>
          <ng-template #thenIsInCityBlock>
            <div>
              <label class="inputLabel" for="city">City:</label>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input id="city" placeholder="Accident address city" [ngModel]="euroProtocol.address.city"
                    formControlName="city" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div>
              <label class="inputLabel" for="district">District:</label>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input id="district" placeholder="Accident address district"
                    [ngModel]="euroProtocol.address.district" formControlName="district" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div>
              <label class="inputLabel" for="street">Street:</label>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input id="street" placeholder="Accident address street"
                    [ngModel]="euroProtocol.address.street" formControlName="street" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div *ngIf="euroProtocol.address.isIntersection">
              <label class="inputLabel" for="crossStreet">Cross Street:</label>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input id="crossStreet" placeholder="Accident address cross street"
                    [ngModel]="euroProtocol.address.crossStreet" formControlName="crossStreet" readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </ng-template>
          <ng-template #elseIsInCityBlock>
            <div>
              <label class="inputLabel" for="coordinatesOfLatitude">Latitude:</label>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input id="coordinatesOfLatitude" placeholder="Accident address coordinates Of Latitude"
                    [ngModel]="euroProtocol.address.coordinatesOfLatitude" formControlName="coordinatesOfLatitude"
                    readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div>
              <label class="inputLabel" for="coordinatesOfLongitude">Longitude:</label>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input id="coordinatesOfLongitude" placeholder="Accident address coordinates Of Longitude"
                    [ngModel]="euroProtocol.address.coordinatesOfLongitude" formControlName="coordinatesOfLongitude"
                    readonly />
                </nz-form-control>
              </nz-form-item>
            </div>
          </ng-template>
        </div>
        <nz-divider></nz-divider>
      </div>
    </div>
    <div nz-col [nzSpan]="12">
      <div formGroupName="sideA">
        <label class="childTitle">First side:</label>
        <div>
          <label class="inputLabel" for="email">E-mail:</label>
          <nz-form-item>
            <nz-form-control>
              <input nz-input id="email" placeholder="First side email"
                [ngModel]="euroProtocol.sideA.email" formControlName="email"
                readonly />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div>
          <label class="inputLabel" for="email">E-mail:</label>
          <nz-form-item>
            <nz-form-control>
              <input nz-input id="email" placeholder="First side email"
                [ngModel]="euroProtocol.sideA.email" formControlName="email"
                readonly />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </div>
</form>