.title {
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    word-break: break-word;
    word-wrap: break-word;
  }
.childTitle {
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    word-break: break-word;
    word-wrap: break-word;
  }
.inputLabel {
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    word-break: break-word;
    word-wrap: break-word;
  }