<div>
  <div class="violation-card">
    <h1 nz-typography class="violation-label">My violation</h1>
    <div class="violation">   
        <nz-card style="width:80%;" nzTitle="Card title" [nzExtra]="extraTemplate">
            <p>Card content</p>
          </nz-card>
          <ng-template #extraTemplate>
            <a>More</a>
          </ng-template>
    </div>
    <div class="violation">   
        <nz-card style="width:80%;" nzTitle="Card title" [nzExtra]="extraTemplate">
            <p>Card content</p>
          </nz-card>
          <ng-template #extraTemplate>
            <a>More</a>
          </ng-template>
    </div>
</div>
</div>
