<div>
  <div>
    <h1>List of your protocols</h1>
  </div>
  <div>
    <nz-table #basicTable [nzData]="protocolList" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr class="tableHeader">
          <th >Serial Number</th>
          <th>Registration Date</th>
          <th>Address Of Accident</th>
          <th>Protocol Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="tableBodyCell">
        <tr *ngFor="let protocol of basicTable.data; let i = index">
          <td>{{protocol.serialNumber}}</td>
          <td>{{protocol.registrationDateTime | date:'MMMM d, y, H:mm'}}</td>
          <td>
            <div *ngIf="protocol.address.isInCity === true; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>{{protocol.address.city}}, {{protocol.address.street}}</ng-template>
            <ng-template #elseBlock>Out of city</ng-template>
          </td>
          <td>
            <label *ngIf="protocol.isClosed === true">Closed</label>
            <label *ngIf="protocol.isClosed === false">Waiting for sides confirm data</label>
          </td>
          <td>
            <button *ngIf="protocol.isClosed === false" 
                    nz-button nzType="primary" 
                    nzSize="large" 
                    class="tableButton"
                    (click)="loadEuroProtocol(i)" 
                    (click)="showEuroProtocolConfirmModal()">
                    Confirm
            </button>
            <button *ngIf="protocol.isClosed === true" 
                    nz-button nzType="default" 
                    nzSize="large" 
                    class="tableButton"
                    (click)="loadEuroProtocol(i)" 
                    (click)="showEuroProtocolModal()">
                    View
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-modal nzWidth="80%" 
        [(nzVisible)]="isEuroProtocolConfirmModalVisible"
        nzTitle="Confirm Euro Protocol Data" 
        [nzContent]="modalContent" 
        (nzOnCancel)="canceConfirmlEuroProtocolModal()"
        [nzFooter]="modalFooter">>
      <ng-template #modalContent>
      <app-confirm [protocolNumber]="selectedEuroProtocolNumber"></app-confirm>
      </ng-template>
      <ng-template #modalFooter>
        <button nz-button nzType="primary" *ngIf="this.condition === false"  (click)="ContinueFill()" >Continue Fill Data</button>
      </ng-template>
    </nz-modal>
    <div>
      <app-enter-data-second-side  
       [setVisible]="this.isSecondSideForm" 
       (isVisibleEvent)="visibleSecondSideForm($event)"       
       [setCircumstance]="this.circumstancesList"
       (carPlateOutput)="setInfo($event)"   
       (checkedCircumstancesIdOutput)="registr($event)"
       [setData]="this.data"  [setTransport]="this.transport" 
      ></app-enter-data-second-side>
    </div>  
    <nz-modal nzWidth="80%"
        [(nzVisible)]="isEuroProtocolModalVisible"
        nzTitle="View Euro Protocol Data"
        [nzContent]="modalInfo" 
        (nzOnCancel)="cancelEuroProtocolModal()" 
        [nzFooter]="modalFooter">
      <ng-template #modalInfo>
        <app-euro-protocol-view-form [protocolNumber]="selectedEuroProtocolNumber"></app-euro-protocol-view-form>
      </ng-template>
    </nz-modal>
    <br>
  </div>
</div>
