.euro_protocol_form{
   min-height: 100%;
   min-width: 100%;
   margin: 0 auto;
}

.euro_header{
   padding-bottom: 2%;
}

.euro_content{
    margin-left: 5%;
}

.text{
   font-size: 16px;
   color: #000;
   margin-bottom: 2%;
   text-align: left;
}

.euro_progres{
   padding: 1% 0;
}

.euro_footer{
   display: flex;
   justify-content: flex-end;
   
}