<div class="error_alert">
    <nz-alert class="error_alert_restorePassword" *ngIf="isRestorePasswordFailed" nzType="error" nzMessage="{{errorMessage}}"></nz-alert>
</div>
<div id="center-restorePassword">
    <form nz-form (ngSubmit)="onSubmit()" [formGroup]="restorePassword">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please enter your email!">
                <nz-input-group>
                    <input type="text" nz-input placeholder="Email" formControlName="email" required />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please enter your new password">
                <nz-input-group>
                    <input type="password" nz-input placeholder="Password" formControlName="newPassword" required />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please confirm your password">
                <nz-input-group>
                    <input type="password" nz-input placeholder="Confirm Password" formControlName="confirmPassword" required />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>
