.error_alert {
    display: flex;
    justify-content: center; 
    margin-bottom:10px;
}
.error_alert_restorePassword {
    width: 30%;
}

#center-restorePassword {
    display: flex;
    justify-content: center;
}