<nz-layout>
  <nz-content>
      <div id="center-personal">
          <div class="input">  
              <input nz-input placeholder="License serial number" />    
          </div>
          <div class="input">  
              <input nz-input placeholder="Issued authority" />    
          </div>
          <div class="input">  
              <input nz-input placeholder="Expiration date" />    
          </div>
          <div class="input">
            <select aria-placeholder="Opened categories">
              <option>A</option>
              <option>B</option>
            </select>            
          </div>    
          <div class="item_personal_button">
              <button nz-button nzType="default" class="btn" nzBlock>Save changes</button>
          </div>
      </div>
  </nz-content>
</nz-layout>