<nz-layout>
      <nz-content>
          <div id="center-personal">
              <div class="input">  
                  <input nz-input placeholder="First name" />    
              </div>
              <div class="input">  
                  <input nz-input placeholder="Last name" />    
              </div>
              <div class="input">  
                  <input nz-input placeholder="Birthday" />    
              </div>
              <div class="input">
                  <input nz-input placeholder="IPN" />
              </div>    
              <div class="item_personal_button">
                  <button nz-button nzType="default" class="btn" nzBlock>Save changes</button>
              </div>
          </div>
      </nz-content>
  </nz-layout>