#center-personal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
}
.item_personal_button {    
    padding: 15px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
[nz-input]{     
    margin-top: 10px;
    margin-bottom: 10px;
}
::ng-deep .ant-layout-sider-children 
{ 
    display: flex;
    flex-flow: column wrap;
}
[nz-button] {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    height: 30px;
}
.ant-layout-content{
    height: auto;
}

.persData{
    padding: 3%;
}

.persData h1{
    font-size: 20px;
    font-weight:400;
}

.persData span{
    font-weight: bold;
    margin-right: 3%;
}

.circle{
    border-radius: 50%;
    background-color: lightblue;
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 70px;
}

.names{
    font-size: 40px;
}
