.names{
    font-size: 40px;
}
.nz-avatar {
    margin-top: 16px;
    margin-right: 16px;
}
.inner{
    padding: 24px 24px 8px 24px;
}
[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }
  nz-button-group [nz-button] {
    margin-right: 0;
  }
.modal{     display: block;
    flex: none;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;}

.btnChange{
    text-align: center;
}
.alignCenter{
  text-align:center;
}

.circle{
    border-radius: 50%;
    background-color: lightblue;
    height: 150px;
    width: 150px;
    padding: 50px;
}

.myDiv{
    display: flex;
    justify-content: center;
}