<div class="euro_protocol_form">
   <div class="euro_header">
     <h2>Witnesses</h2>
   </div>
   <div class="euro_content">
     <div>
       <form nz-form [formGroup]="witness">
         <nz-form-item>
           <nz-form-label [nzSpan]="24">Last name of the witness</nz-form-label>
           <nz-form-control [nzSpan]="8">
             <input nz-input placeholder="Please input last name witness" formControlName="lastName" required name="lastName" />
           </nz-form-control>
         </nz-form-item>
         <nz-form-item>
           <nz-form-label [nzSpan]="24">First name of the witness</nz-form-label>
           <nz-form-control [nzSpan]="8">
             <input nz-input placeholder="Please input first name witness" formControlName="firstName" required name="firstName" />
           </nz-form-control>
         </nz-form-item>
         <nz-form-item>
           <nz-form-label [nzSpan]="24">Mobile</nz-form-label>
           <nz-form-control [nzSpan]="8">
             <input nz-input placeholder="Please input mobile!" formControlName="phone" required />
           </nz-form-control>
         </nz-form-item>
         <nz-form-item>
           <nz-form-label [nzSpan]="24">Address</nz-form-label>
           <nz-form-control [nzSpan]="8">
             <input nz-input placeholder="Please write witness address here!" formControlName="adress" required />
           </nz-form-control>
         </nz-form-item>
       </form>
     </div>
   </div>
   <div class="euro_progres">
     <nz-progress [nzPercent]="77" [nzShowInfo]="false" nzStatus="active" ></nz-progress>
   </div>
   <div class="euro_footer_next">
     <button nz-button nzType="primary" [nzSize]="size" (click)="changePage(5)" >
       <i nz-icon nzType="left"></i> Backward
     </button>
     <button  nz-button nzType="primary" [nzSize]="size" (click)="changePage(7)" >
       Forward
       <i nz-icon nzType="right"></i>
     </button>
   </div>
 </div>