<div>
    <div>
        <h1>List of your Cars</h1>
    </div>
    <div>
        <nz-table #basicTable [nzData]="list" [nzFrontPagination]="false" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th class="propertyName">Car Company</th>
                    <th class="propertyName">Car Model</th>
                    <th class="propertyName">Plate</th>
                    <th class="propertyName">Color</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="mainName"  (click)="showModal(false)" (click)="setCurrentTransport(car.id)" *ngFor="let car of list">
                    <td>{{car.producedBy}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.carPlate}}</td>
                    <td>
                        <a> {{ car.color}}</a>
                        <nz-divider nzType="vertical"></nz-divider>
                    </td>
                    <td><i nz-icon nzType="delete" nzTheme="twotone" (click)="onDelete(car.id)"></i> </td>
                </tr>
            </tbody>
        </nz-table>
        <br>
    </div>
    <div>
        <button nz-button nzShape="round" [nzType]="'primary'" (click)="showModal(true)">
            <span>Add Transport</span>
        </button>
    </div>
</div>
<app-transport-data-modal [setTransport]="this.currentTransport" 

[setVisible]="this.isVisible" (isVisibleEvent)="handleCancel($event)" 
[setAdd]="this.isAdd" (AddedTransport)="addCar($event)" (EditedTransport)="updateCar($event)"></app-transport-data-modal>