<nz-layout>
    <nz-content>
        <div id="center-personal">
            <h1 nz-typography class="registration-label">My transport</h1>
            <div class="input">  
                <input nz-input placeholder="Model" />    
            </div>
            <div class="input">  
                <input nz-input placeholder="Car plate" />    
            </div>
            <div class="input">  
                <input nz-input placeholder="Color" />    
            </div>
            <div class="input">
                <input nz-input placeholder="Year of production"/>
            </div>  
            <div class="input">
                <input nz-input placeholder="Vin code"/>
            </div>  
            <div class="input">
                <input nz-input placeholder="Category"/>
            </div>  
            <div class="input">
                <input nz-input placeholder="Insuarance serial number"/>
            </div>  
            <div class="item_personal_button">
                <button nz-button nzType="default" class="btn" nzBlock>Save changes</button>
            </div>
        </div>
    </nz-content>
</nz-layout>