[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }
nz-button-group [nz-button] {
    margin-right: 0;
  }
  [nz-input]{
    font-size: 20px;
    height:50px
}
.propertyName{
  letter-spacing: .07272727em;
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  word-break: break-word;
  word-wrap: break-word;
  color: #5f6368; 
}
.mainName{
  letter-spacing: .00625em;
  font-family: Roboto,Arial,sans-serif;
  font-size: 18px;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #202124;
}
